.App {
  text-align: center;
  
}

body{
  padding: 0;
  margin: 0;
}

/* NAVBAR */

.navbar{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(70, 150, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.navbar .links{
  font-size: 25px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.links a:hover{
  cursor: pointer;
  font-weight: bold;
}

/* HOME PAGE */
.home{
  position: absolute;
  top: 0;
  left: 0;
  background: url(./img/IMG_5383-1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home_title{
  font-size: 48px;
  text-align: center;
  margin: 90px;
  color: rgb(70, 150, 54);
  text-shadow: 2px 2px 2px white;
}

/* CREATE POST */
.CreatePost{
  background: url(./img/unnamed.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding-top: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.uploadPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgb(70, 150, 54);
  font-size: 23px;
}

.uploadPost input{
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 23px;
}

textarea{
  width: 80%;
  height: 200px;
  font-size: 23px;
} 

button {
  margin: 2px;
}

.submitPost{
  font-size: 1em;
  margin-top: 10px;
  background-color: rgb(70, 150, 54);
  width: 80%;
  height: 10%;
}

/* MAIN PAGE CSS*/

.MainPage{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: url(/src/img/fond.jpg);
  background-size: cover;
  background-attachment: fixed;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 80px;
}

.fond_main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PostContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-top: 20px;
}

.Post_main{
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: rgba(147, 181, 245);
  width: 70%;
  border: 1px solid rgb(70, 150, 54);
  padding: 5px;
  margin-bottom: 5px;
}

.Post {
  background: white;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid black;
}

.update_post{
  display: flex;
  width: 100%;
  flex-direction: column; 
}

.main_title{
  margin: 5px;
}

.main_text{
  margin: 5px;
  height: 80px;
}

.button_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.delete_post{
  border: none;
  background-color: red;
}

.updateButton_post{
  border: none;
  background-color: green;
}